<div class="wrapper_1">
  <form name="resetPassword">
    <div class="container">
      <div class="row clearfix" style="background: white;">
        <div class="col-sm-8 col-sm-offset-2 overall">
          <span class="bold block font18 bottom15">Change your password</span>
          <span class="bold block font14 bottom15">Please create a new password for your account.</span>
          <p><span class="bold">Tips:</span>
            We strongly recommend using a password that is unique to Salesdoor.
            Avoid overly simple passwords like 12345, or password123.
            Use a combination of characters, letters and numbers</p>
          <label class="block">Password</label>
          <div class="form-group" ng-class="{ 'has-error' : resetPassword.pwd.$invalid && resetPassword.pwd.$touched}">
            <input class="bottom15 block width54" name="pwd" type="password" class="form-control"
                   ng-model="resetpasswordCtrl.user.pwd" placeholder="Password" required>
            <p ng-show="resetPassword.pwd.$invalid && resetPassword.pwd.$touched" class="help-block">Password is
              required.</p>
          </div>
          <label class="block">Confirm Password</label>
          <div class="form-group"
               ng-class="{ 'has-error' : resetPassword.cpassword.$invalid && resetPassword.cpassword.$touched}">
            <input type="password" name="cpassword" class="bottom15 block width54" class="form-control"
                   ng-model="resetpasswordCtrl.user.cpassword" placeholder="Confirm Password" required>
            <p ng-show="resetPassword.cpassword.$invalid && resetPassword.cpassword.$touched" class="help-block">Confirm
              Password is required.</p>

          </div>
          <div class="form-group;" ng-class="{'has-error':true}">
            <p ng-show="resetpasswordCtrl.isMatch" class="help-block">Passowrd and Confirm Password are not
              matching.</p>
          </div>
          <!--<span ng-show="resetpasswordCtrl.isMatch">Emails have to match!</span>-->
          <button type="button" ng-click="resetpasswordCtrl.isPasswordMatch()" class="btn btn-primary">Set New
            Password
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

