.width90{
  width: 90%;
}
.pointer{
  cursor: pointer;
}
.edtAbt {
  right: 4%;
  top: 14%;
}
.editInfo {
  position: absolute;
  /* right: 0px; */
  padding: 5px 6px;
  background: darkgray;
  border-radius: 50%;
}
.bottom10 {
  margin-top: 10px;
}
.rvwSelect {
  padding: 5px;
  width: 90%;
}
.ntab1.ntabs22 li a {
  color: #fff;
}
