<div id="menu2" class="tab-pane fade in active">
  <div class="col-sm-12">
    <select class="fltrPdng pull-right top10">
      <option>Open</option>
      <option>Interested</option>
      <option>Applied</option>
    </select>
  </div>
  <div class="col-sm-12 none mar-t" style="padding-bottom: 10px;" ng-repeat="rfp in $ctrl.rfpsList">
    <div class="middle_1" style="padding-bottom: 0px;padding-top: 0px">
      <div class="row clearfix" style="padding-bottom: 1px;padding-top: 3px;">
        <div class="col-sm-6 none hrDt"><i class="fa fa-clock-o hrDt mrgnleft4" aria-hidden="true" title="End Date"></i>
          <span>Aug 03</span>
        </div>
        <div class="col-sm-6 none rsb text-right">

        </div>
      </div>
      <div class="row clearfix bottomSpace">
        <div class="col-sm-2 none">
          <img src="./pg20_files/circle.png" class="img-circle wdth60">
        </div>
        <div class="col-sm-9 none">
          <div class="row bottomSpace">
            <div class="col-sm-12">
              <h4 class="block" style="margin-bottom: 1px;font-size:15px;font-weight: bold;"> {{rfp.rfpTitle}}</h4>
              <span style="font-size: 12px;display: block;">{{rfp.userInfo.name}}</span>
              <span style="font-size: 11px;display: block;">{{rfp.userInfo.designation}} @ {{rfp.userInfo.currentcompany}}</span>
            </div>
          </div>
        </div>
        <div class="col-sm-1 none">
          <i class="fa fa-download download aplyDt" title="Download Document" aria-hidden="true"></i>
        </div>

      </div>
      <div class="row clearfix">
        <div class="col-sm-6 linkMargin">

          <span ng-repeat="productCategory in rfp.productCategory">{{productCategory}}</span>
        </div>
        <div class="col-sm-6 linkMargin">

          <span>{{rfp.budgetStart}} - {{rfp.budgetEnd}}</span>
        </div>
        <div class="col-sm-6 linkMargin">
          <span class="badge metadata" ng-repeat="location in rfp.productCategory">{{location}}</span>
        </div>
        <div class="col-sm-6 linkMargin">

        </div>
        <div class="col-sm-12 bottomSpace linkMargin" style="margin-bottom: 0px;">
          <p>{{rfp.proposalDescription}}</p>
        </div>
        <div class="col-sm-12 none rsb text-right" style="margin-bottom: 11px;">
          <a class="right10 pointer" ng-click="$ctrl.interestModal(rfp)" style="font-weight: bold;">Express
            Interest
          </a>
          <a class="pointer" ng-show="!$ctrl.alreadyApplied(rfp)" style="font-weight: bold;" ng-click="$ctrl.applyToRfp(rfp)" >Apply
          </a>
          <a ng-show="$ctrl.alreadyApplied(rfp)" style="font-weight: bold;" >Applied
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="morebtn"><a style="margin-top:20px;">View More </a></div>
</div>
