<div ng-show="resetpasswordCtrl.stateName()">
  <!-- admin panle assets links goes here -->
  <link rel="stylesheet" href="../../../assets/admin_assets/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../../../assets/admin_assets/css/bootstrap-responsive.min.css" />
  <link rel="stylesheet" href="../../../assets/admin_assets/css/style.css" />
  <link rel="stylesheet" href="../../../assets/admin_assets/css/media.css" />
  <link href="../../../assets/admin_assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
</div>
<div id="content" style="height: 555px;">
  <div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="current"></a> </div>

  </div>
  <div class="container-fluid">
    <hr>
<div class="row-fluid">
      <div class="span12">

            <form id="form-wizard" name="AdminResetPassword" ng-submit="resetpasswordCtrl.adminResetPassword(AdminResetPassword)" class="form-horizontal ui-formwizard" method="post" novalidate="novalidate">
              <div id="form-wizard-1" class="step ui-formwizard-content" style="display: block;">

			   <div class="controls-row row-bord">

			<div class="control-group span4">

              <div class="controls ctrl-left">
              <input type="email" class="span11 mask text" name="email" ng-model="resetpasswordCtrl.adminresetpasswordObj.emailId" placeholder="Email">
              </div>
            </div>
                 <div class="control-group span4">

              <div class="controls ctrl-left">
                <input type="password" class="span11 mask text" name="password" ng-model="resetpasswordCtrl.adminresetpasswordObj.pwd" placeholder="Default Password">
              </div>
            </div>
                <div class="control-group span4 btn11">
                   <input id="next" class="btn btn-primary ui-wizard-content ui-formwizard-button" type="submit" value="Submit">
                </div>


              </div>
             </div>


            </form>




      </div>

    </div>

  </div>
</div>
</body>

</html>
