<!-- Modal content-->
<div class="modal-content sinUpModal">
  <div class="modal-body">
    <form name="resetPassword" ng-submit="$ctrl.resetPassword()">
      <div class="row">
        <div class="col-md-12">
          <span class="block font16">Sign up few steps to unlock reviews and RFP's</span>
          <div class="social-button">
            <button class="top36" type="button"><span class="pop-sign"><i class="fa fa-google-plus" aria-hidden="true"></i></span>Sign in with Google</button>
            <button type="button"><span class="pop-sign"><i class="fa fa-facebook-square" aria-hidden="true"></i></span>Sign in with Facebook</button>
            <button type="button"><span class="pop-sign"><i class="fa fa-linkedin" aria-hidden="true"></i></span>Sign in with LinkedIn</button>
          </div>
          <div class="bottom15">
            <div class="orSaparater"></div>
            <span class="font12 orText">OR</span>
            <div class="orSaparater"></div>
          </div>
          <div class="row pop-input">
            <div class="col-md-12">
              <div class="form-group" ng-class="{ 'has-error' : resetPassword.email.$invalid && resetPassword.email.$touched}">
                <input type="email"        ng-focus="$ctrl.focused=true"               class="form-control"                       name="email"                       placeholder="Email"                       ng-model="$ctrl.resetpassword.email"                       ng-pattern="/^[a-zA-Z0-9._]+[a-zA-Z0-9._]+@.*\.[a-zA-Z]{1,50}/"                       maxlength="100"                       autocomplete="off"                       required/>
                <span ng-messages="(resetPassword.email.$touched && resetPassword.email.$error)" role="alert">
                <span class="text-danger" ng-message="required">Please complete this mandatory field.</span>
               <span class="text-danger" ng-message="pattern">Please enter valid email.</span>
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <!-- <label class="checkbox-inline"><input type="checkbox" value="">I accept the <a href="">Terms And Conditions</a></label> -->
              <p class="block font12 message" ng-show="!$ctrl.focused">{{$ctrl.message}}</p>
              <p class="block font12 text-danger" ng-show="!$ctrl.focused">{{$ctrl.errormessage}}</p>
              <div class="company-name-input ">
                <button type="submit" style="width:30%;font-size: 15px;"   ng-disabled="">Reset</button>
                <!-- <button type="submit" style="width:50%"></button> -->
                <span class="pAlignmtnt">Dont Have An Account <a href="" ng-click="$ctrl.doSignup()">Sign Up</a></span>
                <!-- <p> </p>				 -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <!-- <div class="text-center">
        <p style="color:#087ca3">We have just sent you an email with reset password link.
      </div> -->
    <button type="button" class="btn btn-default" data-dismiss="modal"
            data-dismiss="modal" ng-click="$ctrl.close()">Close</button>
  </div>
</div>
