<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="createReviewCtrl.close()"data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Create Review</h4>
  </div>
  <div class="modal-body">
    <form id="form-wizard" name="CretaeReview" ng-submit="createReviewCtrl.createreview(CretaeReview)" class="form-inline ui-formwizard" method="post" novalidate="novalidate">
      <small class="text-danger">{{createReviewCtrl.errorMessage}}</small>

      <div class="block1">
        <div class="control-group ">

          <div class="controls">
            <input  type="text" name="title" ng-model="createReviewCtrl.createReviewList.name" style="margin: 5px;" class="form-control ui-wizard-content" placeholder="Review Title">
          </div>
        </div>
      </div>
      <div class="block2">
        <div class="control-group ">

          <div class="controls">
            <input type="text" name="product" uib-typeahead="product.name  for product in createReviewCtrl.products | filter:$viewValue | limitTo:8" ng-model="createReviewCtrl.createReviewList.product" style="margin: 5px;" class="form-control ui-wizard-content" placeholder="product">
          </div>
        </div>
      </div>
      <div class="block1">
        <div class="control-group ">

          <div class="controls">
            <input  type="text" name="location" uib-typeahead="location.name  for location in createReviewCtrl.locations | filter:$viewValue | limitTo:8" ng-model="createReviewCtrl.createReviewList.location" style="margin: 5px;" class="form-control ui-wizard-content" placeholder="Location">
          </div>
        </div>
      </div>
      <div class="block2">
        <div class="control-group ">

          <div class="controls">
            <input  type="text" name="company" uib-typeahead="company.name  for company in createReviewCtrl.companies | filter:$viewValue | limitTo:8"  ng-model="createReviewCtrl.createReviewList.company" style="margin: 5px;" class="form-control ui-wizard-content" placeholder="Company">
          </div>
        </div>
      </div>
      <div class="block1">
        <div class="control-group ">

          <div class="controls">
            <input  type="text" name="reviewType" ng-model="createReviewCtrl.createReviewList.reviewType" style="margin: 5px;" class="form-control ui-wizard-content" placeholder="Review Type">
          </div>
        </div>
      </div>
      <div class="block2">
        <div class="control-group ">

          <div class="controls">
            <input  type="text" name="postedBy" ng-model="createReviewCtrl.createReviewList.postedBy" style="margin: 5px;" class="form-control ui-wizard-content" placeholder="Posted By">
          </div>
        </div>
      </div>


      <div class="">
        <input id="next" class="btn btn-primary ui-wizard-content ui-formwizard-button" type="submit" value="Create">
        <input class="btn btn-primary ui-wizard-content ui-formwizard-button" type="reset" value="Reset">
      </div>

    </form>




  </div>


</div>
