ul {
  padding: 10px 0 0 20px !important;
}
div.tab-pane {
  padding: 10px 0 0 20px !important;
}

li.uib-tab.nav-item {
  width: 19%;
  border: none !important;
  text-align: center;
  background-color: #1e80a5 !important;
  color: white !important;
}
li a.nav-link.ng-binding{
  color: white !important;
}
